.logo__portrait {
    margin-left: 10px;
    margin-top: 10px;
    height: 100px;
}

.contents-container {
    display: table;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    align-items: top;
    margin-top: 70px;
}

.contents-left {
    display: table-cell;
    width: 60%;
    max-width: 300px;
    height: 350px;
}

.contents-right {
    display: table-cell;
    text-align: right;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.project-1, .project-2, .project-3, .project-4 {
    position: relative;
}

.hover-1, .hover-2, .hover-3, .hover-4 {
    position: absolute;
    height: 20px;
    bottom: 0;
    right: 0;
    padding-bottom: 5px;
    opacity: 70%;
    z-index: -1;
    display: none;
}

.hover-1 {
    width: 150px;
}

.background-blank {
    position: fixed;
    width: 75%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -3;
}

.gitlet, .worlds, .in-progress, .travel-map {
    opacity: 0;
    position: fixed;
    width: 75%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -2;
    object-fit: cover;
    transition: 750ms;
}

.project-1:hover img, .project-2:hover img,
.project-3:hover img, .project-4:hover img {
    display: block;
    opacity: 1;
}

.hover-2 {
    width: 240px;
}

.hover-3 {
    width: 265px;
}

.hover-4 {
    width: 260px;
}

.contents-nav {
    font-size: 15pt;
}

.intro {
    font-family: 'Heebo', sans-serif;
}

.description {
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 18pt;
}

.my-projects {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    top: 0;
}

.external-links {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.github, .linkedin, .email {
    max-width: 40px;
    height: auto;
}

.check-me-out {
    margin-bottom: 15px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.about-me {
    font-family: 'Heebo', sans-serif;
    font-size: 6pt;
    margin-top: 30px;
}

.github, .linkedin {
    margin-right: 10px;
}

@media (max-width: 655px) {
    .contents-right {
        display: none;
    }
}