@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500&family=Jost:wght@100;200;300;400&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

/************ MAIN LANDING PAGE ************/

::selection {
    color: #000942;
    background: #96ff8c;
  }

.logo__portrait {
    position: fixed;
    border: #96ff8c;
    height: 95px;
    top: 20px;;
    left: 20px;
    border-radius: 10px;
}

/** CONTAINER AND BACKGROUND */

.contents-container {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    align-items: top;
    margin-top: 175px;
}

.background-blank {
    position: fixed;
    width: 75%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -3;
    background-color: #f5f5f5;
    border: none;
}

/** LEFT SIDE */

.contents-left {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}

.check-me-out {
    margin-bottom: 15px;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 80px;
}

.github-container, .linkedin-container, .email-container {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: black;
    transition: 250ms;
}

.github, .linkedin, .email {
    max-width: 40px;
    margin: 5px;
    height: 30px
}

.github-container:hover {
    background-color: #6e5494;
}

.linkedin-container:hover {
    background-color: #0072b1;
}

.email-container:hover {
    background-color: #db4437;
}

.about-me {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.right-arrow {
    margin-top: 12px;
    height: 22px;
    background-color: #96ff8c;
    align-items: center;
}

.about-link {
    margin-left: 15px;
    margin-top: 1px;
    display: inline-block;
    font-family: 'Heebo', sans-serif;
    font-size: 6pt;
}

.about-wrapper {
    display: none;
    opacity: 0.9;
    position: absolute;
    background-color: #96ff8c;
    height: 22px;
    width: 105px;
    margin-left: -20px;
    margin-top: -34px;
    z-index: -1;
}

.github, .linkedin {
    margin-right: 10px;
}

.intro {
    font-family: 'Heebo', sans-serif;
    color: grey;
}

.description {
    margin-top: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 26pt;
}

/** RIGHT SIDE */

.contents-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
     width: 800px;
}

.project-wrapper-1, .project-wrapper-2, 
.project-wrapper-3, .project-wrapper-4 {
    display: none;
    position: absolute;
    z-index: -1;
    background-color: #96ff8c;
    height: 40%;
    right: -5px;
    bottom: 2px;
}

.project-wrapper-1 {
    width: 187px;
}

.project-wrapper-2 {
    width: 300px;
}

.project-wrapper-3 {
    width: 330px;
}

.project-wrapper-4 {
    width: 325px;
}

.project-bg {
    opacity: 0;
    position: fixed;
    width: 77%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -2;
    object-fit: cover;
    transition: 750ms;
    border: none;
}

.project-name {
    font-family: 'Playfair Display', serif;
    font-size: 40pt;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
}

#gitlet:hover ~ #bg-1, #worlds:hover ~ #bg-2,
#inprogress:hover ~ #bg-3, #travelmap:hover ~ #bg-4 {
    opacity: 1;
}

.project-name:hover area {
    opacity: 0.9;
}

.my-projects {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: grey;
    margin-bottom: 25px;
}

@media (max-width: 900px) {
    .description {
        font-size: 24pt;
    }

    .project-name {
        font-size: 35pt;
        margin-bottom: 30px;
    }
}

@media (max-width: 760px) {
    .contents-right {
        display: none;
    }

    .description {
        font-size: 19pt;
    }

    .logo__portrait {
        min-height: 70px;
        max-height: 95px;
        height: 14vw;
    }
}


/************ ABOUT SECTION ************/

.about-body {
    background-color: #f5f5f5;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 50px;
}

.project-photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 500px;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    filter: brightness(0.7)
}

.about-cover {
    flex-direction: column;
}

.project-cover-text {
    margin-top: 210px;
    font-family: 'Playfair Display', serif;
    margin-left: 14%;
    margin-right: 14%;
    display: flex;
    flex-direction: column;
    margin-bottom: 160px;
    flex-wrap: wrap;
    justify-content: center;
}

.project-title {
    color: white;
    font-size: 30pt;
}

.project-line {
    display: relative;
    box-sizing: border-box;
    background-color: white;
    height: 2px;
    margin-top: -10px;
}

.project-blurb {
    color: white;
    font-size: 20pt;
    font-weight: 600;
    margin-top: 60px;
}

/** ABOUT ME TEXT */

.about-container {
    margin-top: -30px;
    margin-left: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.about-right {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 5%;
    width: 34%;
}

.about-left {
    width: 55%;
    font-family: 'Playfair Display', serif;
    font-size: 14pt;
    width: 66%;
}

.my-name {
    margin-bottom: 50px;
}

.experience, .hello-world {
    color: grey;
    font-family: 'Heebo', sans-serif;
    font-size: 14pt;
    font-weight: 400;
}

.experience {
    margin-bottom: 35px;
    margin-right: 20px;
}

.work-section {
    display: flex;
    flex-direction: column;
}

.work-logo {
    width: 90px;
    height: 90px;
    margin-right: 15px;
}

.work-item {
    display: flex;
    flex-direction: row;
    font-family: 'Jost', sans-serif;
    font-size: 11pt;
    font-weight: 400;
}

.work-text {
    margin-top: 2px;
}

.work-blurb {
    font-family: 'Playfair Display', serif;
    font-family: 'Jost', sans-serif;
    font-size: 10pt;
    font-weight: 300;
    margin-bottom: 50px;
    margin-top: 5px;
}

.internship-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.internships {
    display: flex;
    flex-direction: column;
}

.internship-item {
    display: flex;
    flex-direction: row;
}

.internship-text {
    font-family: 'Jost', sans-serif;
    font-size: 11pt;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 10px;
}

.internship-section {
    display: flex;
    flex-direction: row;
}

.internship-line {
    background-color: #868686;
    height: 160px;
    width: 1px;
    margin-top: 5px;
    margin-left: 18px;
}

.various-internships {
    font-family: 'Jost', sans-serif;
    font-size: 11pt;
    font-weight: 400;
    margin-left: 15px;
    align-self: center;
    margin-top: 0;
}

@media (max-width: 1200px) {
    .about-right {
        display: none;
    }

    .about-left {
        width: 85%
    }
}



/************ HAMBURGER MENU ************/

.hamburger-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 85%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0px -5px 10px 5px #e8e8e8;
}

.home-button {
    font-size: 14pt;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: grey;
    padding-bottom: 30px;
    transition: 20ms;
}

.home-button:hover {
    font-weight:500;
}

.menu-link {
    font-family: 'Playfair Display', serif;
    font-size: 30pt;
    font-weight: 700;
    padding-bottom: 25px;;
    color: black;
    z-index: 3;
    position: relative;
}

.menu-wrapper {
    position: absolute;
    opacity: 0;
    background-color: #96ff8c;
    height: 27%;
    bottom: 27px;
    left: -18%;
    z-index: -1;
    width: 136%;
}

@media (max-width: 400px) {
    .menu-link {
        font-size: 30px;
    }

    .menu-wrapper {
        height: 25%;
        bottom: 25px;
    }
}



/************ PROJECT TEMPLATE ************/

.project-container {
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 180px;
    justify-content: center;
}

.overview-container {
    display: flex;
    flex-direction: row;
}

.overview-left {
    width: 65%;
    font-family: 'Playfair Display', serif;
    padding-right: 5%;
}

.overview-right {
    width: 35%;
    position: relative;
}

.key-learnings {
    margin-top: 12%;
    margin-bottom: 45px;
    color: grey;
    font-family: 'Heebo', sans-serif;
    font-size: 14pt;
    font-weight: 400;
}

.learning-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    height: 65px;
    background-color: #e8e8e8;
    width: 100%;
    margin-bottom: 15px;
}

.learning-number {
    font-family: 'Heebo', sans-serif;
    color: gray;
    font-size: 14pt;
    padding-right: 18px;
}

.learning-content {
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    padding-bottom: 4px;
    font-size: 14pt;
}

@media (max-width: 1000px) {
    .learning-number {
        padding-right: 12px;
    }

    .learning-number, .learning-content {
        font-size: 13pt;
    }
}

.breakdown-container {
    display: flex;
    flex-direction: column;
}

.breakdown-title {
    font-family: 'Playfair Display', serif;
    font-size: 26pt;
}

.breakdown-text {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 16pt;
}

@media (max-width: 900px) {
    .overview-right {
        display: none;
    }

    .overview-left {
        width: 90%
    }
}



/************ PROJECT 1: GITLET ************/
.project-body {
    background-color: #f5f5f5;
}

.project-figure {
    display: flex;
    flex-direction: column;
    font-family: 'Jost', sans-serif;
    color: gray;
    font-style: italic;
    font-size:11pt;
    float: right;
}

.gitlet-commands {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 11pt;
    background-color: #ededed;
    justify-content: left;
    padding-bottom: 40px;
    padding-right: 60px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: grid;
    grid-template:
        "p p p p";
    align-items: center;
}

.gitlet-command {
    display: flex;
    flex-direction: row;
}

.command-name {
    line-height: 1.2;
    font-size: 11pt;
    margin-left: 15px;
    padding-top: 1px;
    height: 18px;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-color: black;
    border-width: 1px;
    border-style: ridge;
    border-radius: 5px;
    justify-self: right;
    margin-right: 25px;
}

.command-description {
    margin-right: 20px;
}

.fig-caption {
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.gitlet-diagram {
    margin-right: 30px;
    width: 60%;
    max-width: 1100px;
}

.gitlet-text {
    font-family: 'Jost', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    width: 40%;
}

.gitlet-text-hidden {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    display: none;
}

.gitlet-merge {
    width: 100%;
}

.show-hide {
    position: relative;
    top: -45px;
    z-index: -1;
}

.show-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 3px;
    align-items: center;
    cursor: pointer;
    height: 55px;
    border: none;
    width: 100%;
    text-align: left;
    padding-left: 43px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.dropdown-chevron {
    margin-right: 22px;
}

.split-container {
    display: flex;
    flex-direction: row;
}

.gitlet-structure {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (max-width: 1150px) {
    .gitlet-text-hidden {
        display: block;
    }

    .gitlet-text {
        display: none;
    }

    .gitlet-diagram {
        width: 100%;
    }

    .gitlet-structure {
        margin-bottom: 0;
    }
}

@media (max-width: 900px) {
    .gitlet-commands {
        grid-template:
        "p p";
    }
}

@media (max-width: 600px) {
    .show-button {
        font-size: 13pt;
        padding-left: 28px;
    }

    .command-name {
        font-size:10pt;
        margin-left: -24px;
    }

    .command-description {
        font-size: 10pt;
        margin-right: -20px;
    }

    .dropdown-button {
        height: 37px;
        width: 37px;
        margin-right: 8px;
    }
}



/************ FOOTER AREA ************/

.footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e8e8e8;
    width: 100%;
    left: 0;
}

.need-more {
    color: grey;
    font-family: 'Heebo', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    margin-top: 50px;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 60px;
    font-family: 'Playfair Display', serif;
    font-size: 12pt;
    font-weight: 500;
}

.about-linkedin:hover span, .about-github:hover span,
.about-email:hover span, .about-aboutme:hover span {
    font-weight: 700;
}

@media (max-width: 350px) {
    .need-more, .footer-links {
        font-size: 10pt;
    }

    .about-linkedin {
        width: 56px;
    }
    
    .about-github {
        width: 43px;
    }
    
    .about-email {
        width: 36px;
    }
    
    .about-aboutme {
        width: 60px;
    }
}



/************ HAMBURGER ANIMATIONS ************/

.hamburger-background {
    background-color: #96ff8c;
    position: fixed;
    right: 20px;
    top: 20px;
    border-radius: 5px;
    z-index: 2;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hamburger-icon {
    position: relative;
    width: 27px;
    height: 24px;
    cursor: pointer;
    margin: 0 auto;
}

.hamburger-icon span {
    background-color:black;
    position: absolute;
    border-radius: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 100%;
    height: 4px;
}

.hamburger-icon span:nth-child(1) {
    top: 0px;
    left: 0px;
}

.hamburger-icon span:nth-child(2) {
    top: 10px;
    left: 0px;
}

.hamburger-icon span:nth-child(3) {
    bottom:0px;
    left: 0px;
}

.hamburger-icon:not(.open):hover span:nth-child(1) {
    transform: scaleY(1);
    left: -5px;
}

.hamburger-icon:not(.open):hover span:nth-child(3) {
    transform: scaleY(1);
    left: 5px;
}

.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) scaleX(0.8);
    top: 11px;
    left: -6px;
}

.hamburger-icon.open span:nth-child(2) {
    transform: scale(0);
    transition-duration: 50ms;
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) scaleX(0.8);
    top: 11PX;
    left: 7px;
}



/************ DROPDOWN CHEVRON ANIMATIONS ************/

.dropdown-chevron {
    position: relative;
    width: 18px;
    height: 20px;
}

.dropdown-chevron span {
    background-color: black;
    position: absolute;
    border-radius: 20px;
    transition: .3s cubic-bezier(.5, .5, .2, 1.4);
    width: 100%;
    height: 3px;
}

.dropdown-chevron span:nth-child(1) {
    transform: rotate(45deg) scaleX(0.8);
    top: 9px;
    left: -4px;
}

.dropdown-chevron span:nth-child(2) {
    transform: rotate(-45deg) scaleX(0.8);
    top: 9px;
    left: 4px;
}

.dropdown-chevron.open span:nth-child(1) {
    transform: rotate(135deg) scaleX(0.8);
    top: 9px;
    left: -4px;
}

.dropdown-chevron.open span:nth-child(2) {
    transform: rotate(-135deg) scaleX(0.8);
    top: 9px;
    left: 4px;
}

@media (max-width: 600px) {
    .dropdown-chevron {
        width: 15px;
        height: 20px;
    }
    
    .dropdown-chevron span {
        background-color:black;
        position: absolute;
        border-radius: 20px;
        transition: .3s cubic-bezier(.5, .5, .2, 1.4);
        width: 100%;
        height: 3px;
    }
    
    .dropdown-chevron span:nth-child(1) {
        left: -3px;
    }
    
    .dropdown-chevron span:nth-child(2) {
        left: 3px;
    }
    
    .dropdown-chevron.open span:nth-child(1) {
        left: -3px;
    }
    
    .dropdown-chevron.open span:nth-child(2) {
        left: 3px;
    }
}




/** LARGE SCREEN HANDLING */

@media (min-width: 1700px) {

    /* MAIN PAGE */



    /* ABOUT ME */

    .need-more, .footer-links {
        font-size: 18px;
    }

    /* PROJECTS */

    .breakdown-title {
        font-size: 32pt;
    }
    
    .learning-number, .learning-content, .key-learnings {
        font-size: 18pt;
    }

    .breakdown-text {
        font-size: 22pt;
    }

    #gitlet-text {
        font-size: 22pt;
    }

    #show-button {
        font-size: 20pt;
    }

    #show-button {
        height: 75px;
        padding-left: 63px;
        border-top-right-radius: 35px;
        border-top-left-radius: 35px;
    }

    #command-name, .command-description, .fig-caption {
        font-size: 16pt;
    }

    #command-name {
        height: 26px;
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
}